extends layout

block layout-content
    div.box
        h1 
            span.fa.fa-lock 
            p Social Authentication
        p Login or register with: 
        a.button.is-primary(href="/auth/google")
            span.fab.fa-google 
            p &nbsp;SignIn with Google