extends layout

block layout-content
  h1.title.is-size-3-desktop.is-size-2-touch.glitch
    p Sign in: #{email}
  form(action="/auth/signup" method="post")
    input.input(type="hidden" readonly value=email name="email" id="email")
    .field
      label.label
        p Password
      .control
        input.input(type="password" name="password" id="password" placeholder="***************************")
    button.button.is-primary(type="submit")
      p Sign Up
