extends layout

block layout-content
  form(action="/auth/signup" method="post")
    .field
      label.label
        p Email
      .control
        input.input(type="email" readonly value=email id="email")
    .field
      label.label
        p Password
      .control
        input.input(type="password" id="password")
    input.button.is-primary(type="submit" value="Sign Up")
