extends layout

block layout-content
    h1 
        span.fa.fa-lock 
        p Social Authentication
    p Login or register with: 
    a.button.is-primary(href="/auth/google")
        span.fa.fa-google 
        p SignIn with Google