extends layout

block layout-content
  .notification.is-success.is-light
    h1.title.is-size-1-desktop.is-size-2-touch.glitch(data-text="Success")
      p Success
    h2.subtitle.is-size-6-touch.has-text-centered.is-inline-flex 
      p #{msg}